scipy
pillow>=7.1.0
easydict
peakutils
cython
cffi
moviepy
torch==1.12.1 
torchvision==0.13.1 
torchaudio==0.12.1
opencv-python
msgpack
matplotlib
pyyaml
tensorboardX
tqdm
jinja2
mmaction2==1.2.0
mmcv-lite==2.1.0
pandas
pascal_voc_writer
